#navigation {
  width: 12rem;
  position: fixed;
}

#content {
  margin-left: 12rem; 
  max-width: 48rem;
  padding: 2rem
}

#top-navbar {
  display: none;
  position: fixed;
  height: 3rem;
  top: 0;
  right: 0;
  width: 100%;
  background: rgba(250,250,250,.65);
}

#comments .panel {
  max-height: 75vh;
}

.code .hljs-tag {
  color: #667189;
}

.code .hljs-comment {
  color: #acb3c2;
}

.code .hljs-class,
.code .hljs-string,
.code .hljs-title {
   color: #5755d9;
}

.code .hljs-attribute,
.code .hljs-built_in,
.code .hljs-keyword,
.code .hljs-name,
.code .hljs-variable {
  color: #d73e48;
}

.code .hljs-hexcolor,
.code .hljs-value {
   color:#667189
}


@media (max-width: 960px) {
  .off-canvas .off-canvas-toggle {
    position: fixed;
  }

  .off-canvas .off-canvas-content {
    width: 100%;
  }

  #top-navbar {
    display: block;
  }

  #content {
    margin-left: 0rem;
    margin-top: 2rem;
    padding: 1rem;
  }
}
